.hamburger-button
  display: none
  width: 40px
  height: 25px
  position: absolute
  background-color: transparent
  border: 0
  border-top: 5px solid $hamburger-btn
  cursor: pointer

  &:after,
  &:before
    top: 0
    left: 0
    width: 100%
    position: absolute
    border-top: 5px solid
    border-color: inherit
    content: ""

  &:after
    transform: translateY(5px)

  &:before
    transform: translateY(15px)

  &:focus
    outline: none

  &--active
    transform: rotate(45deg) translate(5px, -5px)
    border: none
    border-color: $hamburger-btn-active
    transition: transform .2s linear

    &:after
      transform: rotate(-90deg) translateX(-15px)

  @media (max-width: 576px)
    display: block
    top: 14px
    right: 20px