.navbar
  padding: 0
  position: relative
  background-color: #1b4b72

  &__list
    display: flex
    width: 100%
    margin: 0
    padding: 0
    justify-content: flex-end
    list-style-type: none
    text-align: center

    &__item
      transition: all .2s

      &:first-child
        margin-right: auto

      &:hover
        background-color: lighten(#1b4b72, 10%)

@media (max-width: 576px)
  .navbar
    &__list
      display: none
      flex-wrap: wrap
      flex-direction: column
      justify-content: center

      &__item
        &:first-child
          margin-right: 0

    &--responsive
      .navbar__list
        display: flex

